.loading{
     font-size: 48px;
     color: #FFF;
     display: inline-block;
     font-family: Arial,Helvetica,sans-serif;
     font-weight: 400;
     position: relative;
     margin: auto;
}
 .loading:after{
     content: '';
     height: 4px;
     width:0%;
     display: inline-block;
     background: #FF3D00;
     animation: 5s lineGrow linear infinite;
}
 @keyframes lineGrow {
    to{
        width: 100%;
    }
}
 .acsCommons-System-Notifications-Page-input--textarea{
    width:100%
}
 .modal {
     display: none;
    /* Hidden by default */
     position: fixed;
    /* Stay in place */
     z-index: 1;
    /* Sit on top */
     padding-top: 160px;
    /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
    /* Full width */
     height: 100%;
    /* Full height */
     overflow: auto;
    /* Enable scroll if needed */
     background-color: rgb(0,0,0);
    /* Fallback color */
     background-color: rgba(0,0,0,0.4);
    /* Black w/ opacity */
}
/* Modal Content */
 .modal-content {
     margin: auto;
     padding: 20px;
     border: 1px solid #888;
     display: flex;
     flex-direction: column;
}
/* The Close Button */
 .close {
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
     margin: auto;
     margin-right: 1%;
}
 .close:hover, .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}
 .loader {
     width: 32px;
     height: 90px;
     display: block;
     margin: 20px auto;
     position: relative;
     border-radius: 50% 50% 0 0;
     border-bottom: 10px solid #FF3D00;
     background-color: #FFF;
     background-image: radial-gradient(ellipse at center, #FFF 34%, #FF3D00 35%, #FF3D00 54%, #FFF 55%), linear-gradient(#FF3D00 10px, transparent 0);
     background-size: 28px 28px;
     background-position: center 20px , center 2px;
     background-repeat: no-repeat;
     box-sizing: border-box;
     animation: animloaderBack 1s linear infinite alternate;
}
 .loader::before {
     content: '';
     box-sizing: border-box;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     width: 64px;
     height: 44px;
     border-radius: 50%;
     box-shadow: 0px 15px #FF3D00 inset;
     top: 67px;
}
 .loader::after {
     content: '';
     position: absolute;
     left: 50%;
     transform: translateX(-50%) rotate(45deg);
     width: 34px;
     height: 34px;
     top: 112%;
     background: radial-gradient(ellipse at center, #ffdf00 8%, rgba(249, 62, 0, 0.6) 24%, rgba(0, 0, 0, 0) 100%);
     border-radius: 50% 50% 0;
     background-repeat: no-repeat;
     background-position: -44px -44px;
     background-size: 100px 100px;
     box-shadow: 4px 4px 12px 0px rgba(255, 61, 0, 0.5);
     box-sizing: border-box;
     animation: animloader 1s linear infinite alternate;
}
 @keyframes animloaderBack {
     0%, 30%, 70% {
         transform: translateY(0px);
    }
     20%, 40%, 100% {
         transform: translateY(-5px);
    }
}
 @keyframes animloader {
     0% {
         box-shadow: 4px 4px 12px 2px rgba(255, 61, 0, 0.75);
         width: 34px;
         height: 34px;
         background-position: -44px -44px;
         background-size: 100px 100px;
    }
     100% {
         box-shadow: 2px 2px 8px 0px rgba(255, 61, 0, 0.5);
         width: 30px;
         height: 28px;
         background-position: -36px -36px;
         background-size: 80px 80px;
    }
}

#table-data{
	width: 35%;
    margin: auto;
    color: #FFF;
    font-size: 35px;
}

#table-body td {
	padding: 1em;
	text-align: center;
	word-break: break-word;
	color: #FFF;
    font-size: 30px;
}

#package-table-head tr {
	position: sticky;
	top: 0;
	background: #f0f0f0;
}

#package-table-head th {
	padding: 1em;
	text-align: left;
}

#package-table-body td {
	padding: 1em;
	border: 1px solid #e9e9e9;
	text-align: left;
	background: #fff;
	word-break: break-word;
}

.coral-Form-field {
	width: 100%;
}

.coral-Form-fieldset {
	margin: 0;
}
